<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="card border-0 shadow-sm mb-2">
      <div class="card-body">

        <h1 class="mb-5">About us</h1>

        <div class="media mb-5">
          <%= image_tag('web_dev.svg', class: 'w-50 mr-3', alt: 'Ruby on Rails developer') %>
          <div class="media-body">
            <h2 class="mt-0 mb-2">Ruby on Rails course</h2>
            <p>Rails is a web application development framework written in the Ruby programming language.</p>
          </div>
        </div>

        <p>It is designed to make programming web applications easier by making assumptions about what every developer needs to get started.</p> 
        <p>It allows you to write less code while accomplishing more than many other languages and frameworks.</p>

      </div>
    </div>

  </div>
</div>