<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="card border-0 shadow-sm mb-2">
      <div class="card-body">

        <h1 class="mb-5">Contacts</h1>

        <div class="mb-5">
          <h2 class="h3">Get in touch</h2>
          <p>We'd love to talk about how we can help you.</p>

                  <div class="row">

          <div class="col-md-6 mb-3">
            <span class="d-block h5 mb-1">Call us:</span>
            <span class="d-block text-body font-size-1">+38 (123) 456-78-90</span>
          </div>
        
          <div class="col-md-6 mb-3">
            <span class="d-block h5 mb-1">Email us:</span>
            <span class="d-block text-body font-size-1">hello@example.com</span>
          </div>

        </div>    

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d181337.06515622928!2d25.50795252779997!3d49.53658092006988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473036ad4b82ce75%3A0xc484a447edb154e8!2z0KLQtdGA0L3QvtC_0ZbQu9GMLCDQotC10YDQvdC-0L_RltC70YzRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNDYwMDM!5e0!3m2!1suk!2sua!4v1599643146800!5m2!1suk!2sua" class="embed-responsive" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        
        </div>

      </div>
    </div>

  </div>
</div>